<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137024757582-vb17jkr1l7lfa67gr01dor00atmgvl4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137024757582-vb17jkr1l7lfa67gr01dor00atmgvl4v</string>
	<key>API_KEY</key>
	<string>AIzaSyB0FxWOAsWLIpn5SQJAqKA64T-HbZb51pg</string>
	<key>GCM_SENDER_ID</key>
	<string>137024757582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>auth-4051b</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-4051b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137024757582:ios:b8ab5b07af67f18bc3c81f</string>
</dict>
</plist>